@font-face {
    font-family: 'DIN Alternate';
    src: url('DINAlternate-Bold.woff2') format('woff2'),
        url('DINAlternate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url('DINCondensed-Bold.woff2') format('woff2'),
        url('DINCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geeza Pro';
    src: url('GeezaPro.woff2') format('woff2'),
        url('GeezaPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Geeza Pro';
    src: url('GeezaPro-Bold.woff2') format('woff2'),
        url('GeezaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Condensed';
    src: url('DINCondensed.woff2') format('woff2'),
        url('DINCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*/
@font-face {
    font-family: 'Geeza Pro';
    src: url('GeezaPro.eot');
    src: url('GeezaPro.eot?#iefix') format('embedded-opentype'),
        url('GeezaPro.woff2') format('woff2'),
        url('GeezaPro.woff') format('woff'),
        url('GeezaPro.svg#GeezaPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geeza Pro';
    src: url('GeezaPro-Bold.eot');
    src: url('GeezaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('GeezaPro-Bold.woff2') format('woff2'),
        url('GeezaPro-Bold.woff') format('woff'),
        url('GeezaPro-Bold.svg#GeezaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

