body {
  margin: 0;
  padding: 0;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.sp{
  padding-top: 110px;
  padding-bottom: 110px;
}

.bg_white{
  background-color: white;
}
.pt_0{
  padding-top: 0px;
}
.pb_0{
  padding-bottom: 0px;
}

#page-top {
	overflow-x: hidden !important;
}

h2{
  font-family: 'DIN Condensed';
  font-size: 80px;
  letter-spacing: 0px;
  opacity: 1;
  line-height: 1;
  padding-bottom: 10px;
  font-weight: 700;
}
.color_white h2, .color_white h5{
  color: #FFF;
}
.colo_black h2, .colo_black h5{
  color: #0B0B0B;
}

.yeallow_btn a {
  font-family: 'DIN Condensed';
  background: #FED901;
  color: #0B0B0B;
  border-radius: 16px;
  padding: 14px 15px;
  display: inline-block;
  max-width: 218px;
  width: 100%;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-family: 'DIN Alternate';
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 28px;
  line-height: 1.3;
}
P{
/*  font-family: 'Geeza Pro';*/
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 20px;
}
h4{
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 20px;
}















/* Menu Css  */
/*Menu Css */

.button_container {
	position: fixed;
	top: 60px;
	right: 71px;
	height: 27px;
	width: 45px;
	cursor: pointer;
	z-index: 100;
	transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #FFF;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 48%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
	display: block;
	height: calc(100% / 9);
	min-height: 50px;
	position: relative;
	opacity: 0;
}
.overlay ul li a {
	display: inline-block;
	position: relative;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
	font-family: 'DIN 2014';
	font-size: 25px;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.header_area {
	padding-top: 6px;
	padding-bottom: 6px;
	position: absolute;
	z-index: 1050;
	width: 100%;
	top: 60px;
	left: 0;
}

/* Header Css  */


.hero_image_area {
	max-width: 266px;
	text-align: center;
}


/*New Css For Update Desing */

.hero_section {
  background-color: #FEDA02;
  background-image: url("../images/banner/hero_section.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 152px;
  padding-bottom: 111px;
}
.hero_content a {
  font-family: 'DIN Condensed';
  background: #00ACD4;
  color: #FFF;
  border-radius: 16px;
  padding: 14px 15px;
  display: inline-block;
  max-width: 218px;
  width: 100%;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
}
.hero_content h2 {
  font-family: 'DIN Condensed';
  font-size: 80px;
  letter-spacing: 0px;
  color: #0B0B0B;
  opacity: 1;
  line-height: 1;
  padding-bottom: 10px;
  font-weight: 700;
}
.hero_content h5 {
  font-family: 'DIN Alternate';
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 28px;
  line-height: 1;
}
.hero_content{
  position: relative;
}
.hero_overlay_image {
  position: absolute;
  width: 134px;
  height: 134px;
  top: -69px;
  left: -136px;
}


/*Weaving Button */
.weaving_section {
  background: #000000;
  padding-top: 0;
  position: relative;
  z-index: 1;
}
.weaving_section::after {
  position: absolute;
  content: "";
  background: url("../images/banner/home-overlay.png");
  width: 841px;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.weaving_content {
  text-align: center;
  max-width: 387px;
  width: 100%;
  margin: auto;
  padding-top: 69px;
}
.weaving_content h5{
  padding-bottom: 40px;
}
.weaving_image_right img {
  min-height: 375px;
  object-fit: cover;
}
.weaving_image_left {
  margin-left: -82px;
}

/*Contact Section */
.Strong_community_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Strong_community {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  margin: 0;
  background: #00ACD4;
}
.Strong_community__content {
  max-width: 646px;
  width: 100%;
  float: right;
  padding-top: 80px;
  padding-bottom: 80px;
}
.Strong_community.strong_2 {
  background: #AED169;
  position: relative;
}
.overly_image {
  width: 360px;
  height: 334px;
  position: absolute;
  right: -63px;
  top: 30px;
}

.Strong_community__content.Strong_community__content_left {
  float: left;
  padding-left: 65px;
}

.Strong_community__content {
  max-width: 646px;
  width: 100%;
  float: right;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sp_community_t h5 {
  width: 90%;
}
.community_logo_area {
  min-width: 210px;
  text-align: center;
  margin-right: 30px;
}
.sp_community_t.color_black.yeallow_btn h5 {
  padding-bottom: 47px;
}

/*Foote Css */
.footer_area {
  background: #000000;
  padding: 30px 0px;
}
.footer_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer_menu ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer_lgog {
  margin-right: 30px;
}
.footer_menu ul li a {
  font-family: 'DIN Condensed';
  font-size: 19px;
  letter-spacing: 0px;
  opacity: 1;
  line-height: 1.3;
  font-weight: 700;
  color: #FFF;
  display: inline-block;
  margin-right: 37px;
  padding-right: 37px;
  border-radius: ;
  border-right: 2px solid #FFF;
}
.footer_menu ul li:last-child a{
   border-right: 0px solid #FFF;
}
.copyright p {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-weight: ;
  font-size: 14px;
}

/*Do Click phone section */

.do_click_hero_section {
  background-color: #F6F6F6;
  background-image: url(../images/banner/do_click_hero.png);
  padding-top: 139px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-attachment: scroll;
}
.do_click_content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.do_click_content_bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.do_click_image_1 {
  max-width: 396px;
  width: 100%;
  margin-right: 20px;
}
.do_click_image_2 {
  max-width: 565px;
  width: 100%;
  padding-top: 105px;
}
.do_click_image_phone {
  max-width: 599px;
  margin-top: -106px;
  width: 100%;
}
.do_click_image_content.yeallow_btn h2 {
  font-size: 45px;
  margin: 5px 0px;
  padding-top: 10px;
}
.do_click_image_content.yeallow_btn a {
  margin-top: 30px;
}
.border_big{
  border: 1px solid #707070;
  width: 472px;
}
.player_section{
  padding-top: 60px;
  padding-bottom: 80px;
  background: #FFF;
}


/*  Start: kontakt banner css 
******************************/
.kontakt_banner {
  background-color: rgb(255, 255, 255);
  background-image: url("../images/banner/contact-hero.png");
  padding-top: 278px;
  padding-bottom: 175px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-attachment: scroll;
}
.kontakt_img img{
  max-width: 356px;
  margin: 50px;
}
/*  End: kontakt banner css 
******************************/
/*  Start: Kontakt Eio css 
******************************/
.kontakt_eio{
  max-width: 1000px;
  margin: auto;
}
.kontakt_content{
  display: flex;
  justify-content: space-between;
  gap: 80px;
  position: relative;
}
.kontakt_content::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid #707070;
  opacity: 1;
  width: 1px;
  height: 100%;
}
.kontakt_content h2{
  font-size: 53px;
  line-height: 59px;
  letter-spacing: 0px;
  color: #0B0B0B;
  opacity: 1;
}
.kontakt_content ul li a{
  font-size: 20px;
  color: #000;
}
.kontakt_content ul li{
  font-size: 20px;
  color: #000;
}
.kontakt_content ul li span{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.single_content_left ul{
  margin-top: 10px;
}
.eio_bio {
  margin-top: 20px;
}
.single_content_right{
  max-width: 411px;
  width: 100%;
}
.eis_item{
  display: flex;
  gap: 14px;
  margin-top: 10px;
}
.eis_socil ul{
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.eis_socil ul li a img{
  max-width: 89px;
}
.kontakt_content_bottom{
  padding: 65px 0 60px 0;
  text-align: center;
}
.kontakt_content_bottom h4{
  font-family: "DIN Condensed";
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  color: #0b0b0b;
}
/*  End: Kontakt Eio css 
******************************/
